
.font{
	font-family: 'Black Ops One', cursive;
	font-size: 125px;
	text-shadow: 4px 4px 4px #aaa;
}

img{
	width:60%;
}

.well{
	text-align: center;
}
.scoreWell{
	width:46%;
	float:left;
}
.panel-transparent {
    background: none;
    border-color: transparent;
    }
body {
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbotron{
    background: none;
    border-color: transparent;
    color:white;
    text-align: center

    }

