
img{
	width:60%;
}

.well{
	text-align: center;
}
.scoreWell{
	width:46%;
	float:left;
}
#fightBTN{
	background: url("../../assets/images/fight.png");

}
.panel-transparent {
        background: none;
        border-color: transparent;
    }